<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="false">
  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <code-editor content="ctrl.target.expr" datasource="ctrl.datasource" on-change="ctrl.onChangeInternal()"
      data-mode="prometheus" code-editor-focus="ctrl.isLastQuery">
    </code-editor>
    </div>
  </div>


  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <label class="gf-form-label width-8">Legend format</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.legendFormat" spellcheck='false' placeholder="legend format" data-min-length=0 data-items=1000 ng-model-onblur ng-change="ctrl.onChangeInternal()" />
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <label class="gf-form-label width-8">Labels</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.labelSelector" spellcheck="false" placeholder="comma-separated label/annotation list" data-min-length=0 data-items=1000 ng-model-onblur ng-change="ctrl.onChangeInternal()"/>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <div class="gf-form-label width-8 query-keyword">Format</div>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input" ng-model="ctrl.target.type" ng-options="f as f for f in ['single', 'table']"></select>
      </div>
    </div>
  </div>

</div>

</query-editor-row>
